[Unit]
Description=Discord Bot Service
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/usr/local/bin/discord-bot/
ExecStart=/usr/local/bin/discord-bot/ docker compose start
ExecStop=/usr/local/bin/discord-bot/ docker compose stop
Restart=always

[Install]
WantedBy=multi-user.target