[Unit]
Description=Discord Bot Service
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/usr/local/bin/
ExecStart=/usr/local/bin/docker-compose start
ExecStop=/usr/local/bin/docker-compose stop
Restart=always
User=discord-bot
Group=discord-bot

[Install]
WantedBy=multi-user.target